---
layout: default
---

{% assign post = page %}

{% if post.category %}
	{% assign category = site.data.categories[post.category] %}
	{% if category %}
		{% capture category_content %} in <span class="label" style="background-color:{{ category.color }}"><a href="/blog/category/{{ category }}/">{{ category.name }}</a></span>{% endcapture %}
	{% endif %}
{% else %}
	{% assign category_content = '' %}
{% endif %}

{% if post.tags.size > 0 %}
    {% capture tags_content %} {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
		{% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<article class="post">
  
  <p id="post-meta">Posted in {{ category_content }} with {{ tags_content }}</p>
  
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
